name: Prebuilt Kernel Extractor

on:
  workflow_dispatch:
    inputs:
      link:
        description: "Firmware direct download link"
        required: true

env:
  LINK: ${{ github.event.inputs.link }}
  FILE: firmware.zip
  TZ: Asia/Kolkata

jobs:
  extract:
    runs-on: ubuntu-22.04

    steps:
      - name: Cleanup Space
        uses: rokibhasansagar/slimhub_actions@main

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y unzip lz4 cpio curl python3 erofs-utils git

      - name: Clone Required Tools
        run: |
          git clone https://github.com/LineageOS/android_prebuilts_extract-tools.git extract
          git clone https://git.codelinaro.org/clo/la/platform/system/libufdt.git libufdt
          git clone https://github.com/jbeich/platform_system_tools_mkbootimg.git mkbootimg

      - name: Download Firmware
        run: |
          wget -O "$FILE" "$LINK"
          ls -lh "$FILE"

      - name: Download Extract Script
        run: |
          wget https://raw.githubusercontent.com/phhgsi/Firmware-Dumper/refs/heads/master/extract-files.sh
          chmod +x extract-files.sh

      - name: Fix Tool Paths
        run: |
          sed -i 's|../../../prebuilts/extract-tools|extract|g' extract-files.sh
          sed -i 's|../../../system/tools/mkbootimg|mkbootimg|g' extract-files.sh
          sed -i 's|../../../system/libufdt|libufdt|g' extract-files.sh

      - name: Run Extractor
        run: |
          sudo apt install erofs-utils
          ./extract-files.sh "$FILE"

      - name: Upload Extracted Kernel Files
        uses: actions/upload-artifact@v4
        with:
          name: kernel-output
          path: |
            images
            modules
